.poinlice-iteam{
    display: flex;
}
.mySwiper{
    margin: 2.5rem 0;
}
.iteam-img {
    display: flex;
    align-items: center;
    justify-content: center;
    

    img {
        width: 60px;
        max-width: 100%;
    }
    .name-local {
        margin-left: 2rem;
    }
    .local {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    .local-nav {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}


